body {
  background-color: white;
}

h1 {
  color: black;
}

p {
  font-family: verdana;
  font-size: 20px;
}

p {
  font-family: verdana;
  font-size: 20px;
}

#login {
  position: absolute;
  right: 10px;
  top: 5px;
  background-color: #FFFFFF;
  border: 2px solid #000000;
  color: black;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: verdana;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  
}
#signup {
  position: absolute;
  right: 140px;
  top: 5px;
  background-color: #000000;
  border: 2px solid #000000;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: verdana;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


#Find {
  background-color: #000000;
  border: 2px solid #000000;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: verdana;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
