body {
  background-color: white;
  margin: 0px;
  padding: 0px;
}

h1 {
  color: black;
}

p {
  font-family: verdana;
  font-size: 20px;
}

p {
  font-family: verdana;
  font-size: 20px;
}

.topsection{
   background-color: black;
   margin-top: 0px;
  
}

#signup {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #FFFFFF;
  border: 2px solid #000000;
  color: black;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: verdana;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

#login {
  position: absolute;
  right: 140px;
  top: 10px;
  background-color: #000000;
  border: 2px solid #000000;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: verdana;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.main {
  width: 100%;
  position: relative;
  text-align: center;
  color: white; 
  margin-right: 0px !important; 
  margin-left: 0px !important;
}

.White{
  text-align:center;
  position:absolute; 
  left:170px; 
  top:150px;
  height: 50px;
  width: 500px; 
}

#Find {
  position:relative;
  top: 40px;
  background-color: #000000;
  border: 2px solid #000000;
  color: white;
  padding: 15px 72px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: verdana;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}
